* {
    margin: 0;
    padding: 0;
}

.container {
    width: 76%;
    margin: 0 auto;
}

.sans {
    font-family: sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.redbus-nav{
    position: sticky;
    background-color: white;
    z-index: 55;
    box-shadow: 0 0 8px lightgray;
    top:0;
}
.nav-left {
    display: inline-flex;
    align-items: center;
}

.nav-left img {
    height: 50px;
}

.vertical-line {
    border-left: 1px solid gray;
    height: 20px;
    margin: 0 auto;
    margin-left: 60px;
    margin-right: 40px;
}

.nav-svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-weight: lighter;
    gap: 10px;
    padding: 10px;
    padding: 13px;
    margin: 13px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

.nav-svg:hover {
    background-color: rgb(233, 233, 233);
}

.nav-svg svg {
    height: 20px;
}

.nav-svg:hover svg path {
    fill: red;
}

.nav-menu {
    margin-left: auto;
    display: flex;
    gap: 30px;
}

.nav-menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 10px;
    padding: 10px;
    border-radius: 6px;
}

.nav-menu a:hover {
    background-color: rgb(233, 233, 233);
}

.front-section {
    background-image: url("./assets/HeroImage.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.front-section h1 {
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.route {
    border-radius: 30px;
    background-color: white;
    width: 60%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.route div {
    flex: 1;
    padding: 35px;
    box-sizing: border-box;
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

.route div:nth-child(2) {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.route input {
    width: 80%;
    font-size: 20px;
    border: none;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.route input:focus {
    border: none
}

.route div:nth-child(4) {
    padding-right: 20px;
    text-wrap: nowrap;
    text-align: center;
    font-size: x-large;
    color: white;
    font-weight: 600;
    background-color: rgb(218, 70, 70);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    cursor: pointer;
}

.route-search p {
    padding: 5px;

}

.front-tagline {
    font-size: 25px;
    text-align: center;
    color: yellow;
    height: 400px;
}

.divider-height {
    height: 120px;
}

.offers {
    width: 100%;
    background-color: white;
    border-radius: 35px;
    box-shadow: 0px 0px 5px gray;
    padding-top: 30px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 30px;
}

.offer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.offer-header h2 {
    font-size: 35px;
    text-transform: uppercase;
    color: rgb(78, 78, 78);
    font-weight: normal;
}

.offer-header button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: large;
    color: blue;
    font-weight: 600;
    border: 1px solid darkgray;
    background-color: white;
    border-radius: 100px;
}

.offer-header button:hover {
    box-shadow: 0px 2px 5px gray;
    cursor: pointer;
}

.offer-section {
    width: auto;
    position: relative;
    overflow-x: hidden;
}

.offer-cards {
    display: flex;
}

.offer-card-main {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-right: 25px;
    min-width: 23%;
    color: white;
    border-radius: 18px;
    cursor: pointer;
}

.offer-card-main img {
    border-radius: 100px;
    margin-right: 15px;

}

.card-body p:nth-child(1) {
    width: fit-content;
    font-size: small;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.3);
}

.card-body h3 {
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 9px;
}

.card-body p:last-of-type {
    font-size: small;
}

.card-body div button {
    padding: 5px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: 600;
    font-size: smaller;
    margin-top: 10px;
    margin-right: 8px;
    color: inherit;
    border: 1px dashed white;
    border-radius: 5px;
}

.slider-right {
    position: absolute;
    width: fit-content;
    right: 0px;
    top: 50%;
    color: white;
    cursor: pointer;
    transform: scale(1.5) translateY(-30%);
    display: none;
}

.slide-button {
    padding: 15px;
    padding-top: 45px;
    padding-bottom: 40px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), white)
}

.offer-section:hover .slider-right {
    display: block;
}

.offer-cards .offer-card-main:nth-child(1) {
    background: linear-gradient(to right, rgb(19, 65, 150), rgb(55, 110, 205));
}

.offer-cards .offer-card-main:nth-child(2) {
    background: linear-gradient(to right, #600d11, #c34349);
}

.offer-cards .offer-card-main:nth-child(3) {
    background: linear-gradient(to right, rgb(29, 131, 83), rgb(99, 217, 162));
}

.offer-cards .offer-card-main:nth-child(4) {
    background: linear-gradient(to right, rgb(35, 137, 162), #5fc6df);
}

.ref-img{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.ref-img img{
    cursor:pointer;
}
.booking-content{
    width: 43%;
}
.booking-content h3{
    font-size: 40px;
    font-weight: normal;
    line-height: 60px;
}
.booking{
    display: flex;
    margin-top: 50px;
    gap:25px;
}
.booking div{
    display: flex;
    gap:15px;
    padding-bottom: 20px;
    align-items: center;
}
.booking a{
    text-decoration: none;
    color:black
}
.booking .rental a{
    color:red;
    font-weight: 700;
}
.booking .rental{
    border-bottom: 2px solid rgb(236, 40, 40);
    padding-right: 10px;
    padding-left: 10px;
}
.divider{
    border-left: 1px solid rgb(202, 202, 202);
    height: 20px;
    margin-left: 15px;
    margin-right: 25px;
}
.booking-content > p{
    margin-top:37px;
    font-size: large;
}
.rental-cards{
    margin-top: 35px;
}
.rental-cards div{
    display: flex;
    gap:24px;
    align-items: center;
    margin-top: 20px;
    font-weight: 700;
}
.rental-button{
    margin-top: 50px;
    padding:18px;
    border-radius: 15px;
    color: white;
    background-color: rgb(216,78,85);
    font-weight: 600;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.booking-section{
    display: flex;
}
.booking-img{
    display: flex;
    align-items: end;
    background-image: url("./assets/busbg.svg");
    background-repeat: no-repeat;
    background-position: right;
}
.booking-img img{
    margin-bottom: 80px;
}
.app-section{
    background-image: url("./assets/appInstallbg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    margin-top:100px;
    margin-bottom:100px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.app-section > h3 {
    font-size: 35px;
    font-weight: normal;
    color:white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.app-content{
    display: flex;
    gap:50px;
}
.app-content > div:nth-child(1){
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    border-radius: 20px;
    padding-top:40px;    
    padding-bottom:40px;
}
.app-demo > p:nth-child(-n+2){
    display: flex;
    align-items: center;
    gap:15px;
    margin-bottom: 25px;
    color: rgb(90, 90, 90);
}
.app-ranking{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.app-divider{
    height: 70px;
    margin-left: 20px;
    margin-right: 20px;
    border-left: 2px solid;
    border-color: rgb(138, 138, 138);
}
.app-ranking div p:nth-child(1){
    font-weight: 700;
    font-size: 20px;
    color:rgb(59, 59, 59);
    margin-bottom: 10px;
}
.app-ranking div p:nth-child(3){
    font-weight: 600;
    margin-top: 10px;
    color:rgb(59, 59, 59);
}
.app-content div:nth-child(2), .qr-codes{
    width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.app-content div:nth-child(2) h3, .qr-codes h3{
    color: white;
}
.primo .image{
    text-align: center;
}
.primo-card{
    display: flex;
    gap: 45px;
    margin-top: 60px;
}
.primo-card > div {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 25px;
    gap: 25px;
    background: linear-gradient(to right, rgb(38,72,152),rgb(125,70,134));
    border-radius: 20px;
    color: white;
}
.primo-card h3{
    font-size: 25px;
    margin-bottom: 13px;
}
.primo-card > div p{
    font-size: 16px;
    line-height: 20px;
}
.partner{
    margin-top: 150px;
}
.partner h2{
    font-size: 45px;
    color: rgb(77, 77, 77);
    font-weight: normal;
    text-transform: uppercase;
}
.partner-head{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.partner-head p{
    font-size: 30px;
    color: rgb(77, 77, 77);
}
.partner-head button{
    border-radius: 17px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 23px;
    padding-right: 23px;
    background-color: white;
    border: 0.7px solid rgb(77, 77, 77);
    font-size: large;
    cursor: pointer;
}
.partner-head button:hover{
    box-shadow: 0 2px 12px gray;
}
.partner-rtc{
    display: flex;
    gap: 50px;
    margin-top: 40px;
}
.partner-rtc > div{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.partner-rtc > div > img{
    width: auto;
    height: 90px;
    border-radius: 200px;
    cursor: pointer;
}
.partner-rtc > div > p {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-wrap: nowrap;
    border-radius: 50px;
}
.partner-rtc > div > p:hover {
    background-color: rgb(231, 228, 228);
    cursor: pointer;
}
.private-operators{
    display: flex;
    justify-content: space-between;
    row-gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;
}
.private-operators p{
    flex: 0 0 calc(16.666% - 40px);
    border-radius: 50px;
    padding: 10px;
    color:rgb(66, 65, 65);
}
.private-operators p:hover{
    background-color: rgb(231, 228, 228);
    cursor: pointer;
}
.question-section{
    margin-top: 160px;
}
.question-section h2{
    font-size: 45px;
    color: rgb(56, 56, 56);
    font-weight:normal;
    text-transform: uppercase;
}
.question-tabs{
    margin-top: 50px;
    display: flex;
    gap:50px;
    color:rgb(66, 65, 65);
}
.question-tabs p{
    padding-bottom: 15px;
    padding-left: 8px;
    padding-right: 15px;
    cursor: pointer;
}
.question-tabs p:first-child{
    color: rgb(224,78,85);
    border-bottom: 4px solid rgb(224,78,85);
}
.question-tabs p:hover{
    color: rgb(224,78,85);
}
.questions div{
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    border-radius: 10px;
    border: 0.2px solid rgb(235, 235, 235);
    cursor: pointer;
}
.questions p{
    font-weight: 700;
}


